Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear 
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the 
data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. 
If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python

In [23]:
#Import Python Libraries
import numpy as np   
import pandas as pd
from sklearn.preprocessing import LabelEncoder

What is numpy used for ->1] numPy stands for numerical python, it is a library of python that supports wide range of mathematical functions and operations on multidimensional(ndarray-n dimensional array), array operations and manipulation, mathematical functions, matrix operations, faster mathematical computation as this library is written in c language
2]mainly used for scientific computing and data analysis

what is pandas used for -> 1]Pandas is used for data manipulation, analysis, and preparation. It provides high-performance, easy-to-use data structures, such as DataFrames and Series, along with a wide range of functions for data cleaning, exploration, transformation, and analysis
2]load the data(csv,xls,sql etc),manipulate data,transform data and handling missing values or cleaning the data,data exploration(statistics of data using describe()), also provides data visualization capabilites,time series analysis(time series filtering and aggregation)

In [24]:
df=pd.read_csv('StudentsPerformance.csv')  #pd.read_csv(path of csv file)

In [25]:
df.head()  #prints first 5 rows
#df.tail() prints last 5 rows

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

Data exploration

In [26]:
df.dtypes #print the datatype of data in each column here object type stands for string data

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                  float64
dtype: object

In [27]:
df[['gender',]].dtypes #print the datatype of data in individual specified column 
                        #syntax
                        #df[[column names]].dtypes for individial single column df[column name].dtypes

gender    object
dtype: object

In [28]:
df.describe()
# used to generate descriptive statistics of a DataFrame.
# it provides a summary of the central tendency, dispersion, and shape of the numerical columns in the DataFrame.
#count- number of non null values, mean- average,std - standard deviation, quartile ranges and min and max of column

       math score  reading score  writing score
count  986.000000     992.000000     988.000000
mean    66.173428      69.221774      68.047571
std     15.131818      14.499842      15.174659
min      0.000000      23.000000      10.000000
25%     57.000000      59.000000      57.750000
50%     66.000000      70.000000      69.000000
75%     77.000000      79.000000      79.000000
max    100.000000     100.000000     100.000000

In [29]:
df.shape   #prints tuple of rows and columns present in df 
            #df.size prints rows * columns or total number of values in the df

(1000, 8)

In [30]:
df.ndim   #prints the dimensions of the data

2

In [31]:
df.columns  #prints the list of columns in the dataframe

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [32]:
#individual statistic functions in describe
# df.mean()
# df.median()
# df.mode()
# df.max()
# df.min()
# df.std()

#print mean of first 100 values
df.head(100).mean()

TypeError: Could not convert ['femalefemalefemalemalemalefemalefemalemalemalefemalemalemalefemalemalefemalefemalemalefemalemalefemalemalefemalemalefemalemalemalemalefemalemalefemalefemalefemalefemalemalemalemalefemalefemalefemalemalemalefemalefemalemalefemalemalefemalefemalefemalemalemalemalemalemalefemalefemalefemalemalemalefemalemalemalemalefemalefemalemalemalefemalemalefemalefemalemalefemalemalemalemalemalemalefemalefemalefemalemalemalemalemalefemalefemalefemalefemalefemalefemalemalemalemalefemalemalemalefemalefemalefemale'
 'group Bgroup Cgroup Bgroup Agroup Cgroup Bgroup Bgroup Bgroup Dgroup Bgroup Cgroup Dgroup Bgroup Agroup Agroup Cgroup Cgroup Bgroup Cgroup Cgroup Dgroup Bgroup Dgroup Cgroup Dgroup Agroup Bgroup Cgroup Cgroup Dgroup Dgroup Bgroup Egroup Dgroup Egroup Egroup Dgroup Dgroup Dgroup Bgroup Cgroup Cgroup Bgroup Bgroup Egroup Bgroup Agroup Cgroup Dgroup Cgroup Egroup Egroup Cgroup Dgroup Cgroup Cgroup Egroup Dgroup Dgroup Cgroup Egroup Agroup Agroup Cgroup Dgroup Bgroup Dgroup Cgroup Bgroup Cgroup Dgroup Dgroup Agroup Cgroup Cgroup Bgroup Egroup Agroup Dgroup Egroup Bgroup Bgroup Agroup Egroup Dgroup Cgroup Cgroup Dgroup Agroup Dgroup Cgroup Cgroup Cgroup Cgroup Bgroup Cgroup Bgroup Egroup Dgroup D'
 "bachelor's degreesome collegemaster's degreeassociate's degreesome collegeassociate's degreesome collegesome collegehigh schoolhigh schoolassociate's degreeassociate's degreehigh schoolsome collegemaster's degreesome high schoolhigh schoolsome high schoolmaster's degreeassociate's degreehigh schoolsome collegesome collegesome high schoolbachelor's degreemaster's degreesome collegebachelor's degreehigh schoolmaster's degreesome collegesome collegemaster's degreesome collegesome collegeassociate's degreeassociate's degreesome high schoolassociate's degreeassociate's degreeassociate's degreeassociate's degreeassociate's degreesome collegeassociate's degreeassociate's degreeassociate's degreehigh schoolassociate's degreehigh schoolsome collegeassociate's degreesome collegehigh schoolsome high schoolhigh schoolassociate's degreeassociate's degreesome collegesome high schoolbachelor's degreesome high schoolassociate's degreeassociate's degreesome high schoolsome high schoolsome high schoolsome collegeassociate's degreeassociate's degreesome collegesome collegeassociate's degreesome high schoolsome high schoolassociate's degreesome high schoolbachelor's degreesome high schoolmaster's degreeassociate's degreehigh schoolsome collegeassociate's degreehigh schoolsome collegesome collegeassociate's degreesome collegesome high schoolbachelor's degreehigh schoolhigh schoolassociate's degreesome collegeassociate's degreesome high schoolsome collegesome collegebachelor's degree"
 'standardstandardstandardfree/reducedstandardstandardstandardfree/reducedfree/reducedfree/reducedstandardstandardstandardstandardstandardstandardstandardfree/reducedfree/reducedfree/reducedstandardfree/reducedstandardstandardfree/reducedfree/reducedstandardstandardstandardstandardstandardstandardfree/reducedstandardstandardstandardstandardfree/reducedfree/reducedfree/reducedfree/reducedstandardstandardfree/reducedfree/reducedstandardstandardstandardfree/reducedstandardstandardfree/reducedstandardstandardfree/reducedfree/reducedstandardstandardstandardfree/reducedfree/reducedfree/reducedfree/reducedstandardstandardstandardfree/reducedstandardfree/reducedstandardfree/reducedstandardfree/reducedfree/reducedstandardfree/reducedstandardstandardstandardstandardstandardfree/reducedfree/reducedstandardfree/reducedstandardfree/reducedstandardstandardstandardstandardfree/reducedstandardfree/reducedstandardfree/reducedstandardstandardfree/reducedstandard'
 'nonecompletednonenonenonenonecompletednonecompletednonenonenonenonecompletednonenonenonenonecompletednonenonecompletednonenonecompletednonenonenonenonenonenonenonenonenonenonecompletednonenonecompletednonenonenonenonecompletednonenonecompletednonecompletedcompletednonecompletednonenonecompletednonecompletednonecompletednonecompletednonenonenonenonenonenonenonenonenonecompletedcompletednonenonenonenonenonecompletedcompletednonenonenonecompletednonenonenonenonenonenonenonenonenonenonecompletednonecompletedcompletedcompletednonenone'] to numeric

Data cleaning

In [33]:
# df.isna()  #.isna() only checks whether the particular value is missing or null or nan or not available
df.isna().sum()  #.sum() gives the total count of true values of .isna() and the output gives the total number null or missing 
                #values in the dataframe in a particular column

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     14
reading score                   8
writing score                  12
dtype: int64

In [34]:
# df.fillna(df.mean(),inplace=True) this will directly fill the missing values with mean values for all the columns but
#instead of this method columns are cleanaed individually
df['math score'].fillna(df['math score'].mean(),inplace=True)  

#inplace=True is used for applying any changes made directly to the dataframe , if it is now written then the changes appear 
#a copy of the dataframe

In [35]:
df['reading score'].fillna(df['reading score'].mean(),inplace=True)

In [36]:
df['writing score'].fillna(df['writing score'].mean(),inplace=True)

In [37]:
df.isna().sum() #now all the columns are cleaned and free of missing values

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [38]:
df_lunch=df.groupby(['lunch'])  #groupby() is used to group data in the column according to similar categories
#here data in the lunch column is grouped, after grouping other aggregation functions like sum(),mean() etc can be performed

In [39]:
df_lunch.mean()

TypeError: Could not convert malemalemalefemalefemalemalefemalefemalemalemalefemalefemalefemalemalemalemalefemalefemalemalefemalefemalefemalemalemalemalemalemalefemalefemalemalemalemalemalemalefemalemalemalemalefemalefemalefemalefemalemalemalemalemalefemalefemalefemalemalemalefemalemalemalemalefemalemalemalefemalefemalefemalefemalefemalemalefemalemalemalemalemalemalefemalefemalefemalefemalefemalemalemalefemalemalefemalefemalemalefemalefemalemalemalemalefemalefemalefemalefemalefemalemalefemalefemalefemalemalefemalefemalemalemalemalemalemalemalemalefemalefemalefemalefemalefemalefemalefemalemalefemalefemalefemalemalemalefemalemalefemalemalemalefemalefemalemalefemalemalefemalefemalefemalemalemalefemalefemalefemalefemalemalefemalefemalemalefemalemalemalemalemalefemalemalemalefemalemalemalefemalefemalemalefemalemalemalemalemalefemalefemalemalefemalefemalemalemalefemalemalefemalefemalemalefemalemalemalefemalefemalemalemalefemalefemalefemalemalemalefemalemalemalemalefemalemalefemalefemalemalefemalefemalemalemalefemalemalefemalefemalefemalemalemalemalemalefemalemalemalefemalemalemalefemalemalemalefemalefemalefemalefemalemalemalefemalemalefemalefemalefemalefemalefemalemalemalemalefemalemalemalemalefemalefemalefemalemalefemalemalefemalefemalemalefemalemalefemalefemalefemalemalefemalefemalemalefemalemalefemalemalemalemalefemalefemalemalefemalefemalefemalefemalefemalefemalefemalemalefemalefemalemalefemalefemalemalefemalefemalemalemalefemalefemalemalefemalefemalefemalefemalefemalefemalemalefemalefemalemalefemalemalemalefemalemalemalemalemalemalefemalemalefemalemalemalefemalemalefemalefemalemalefemalefemalefemalefemalefemalemalefemalefemalemalefemalefemalemalemalefemalemalefemalemalemalemalemalemalefemalemalemalefemalemalefemalefemalefemalefemalefemalefemalemalefemalefemalefemalemalefemalefemalemalefemalefemale to numeric

In [40]:
df_group=df.groupby(['lunch','gender'])

In [41]:
df_group.mean()

TypeError: Could not convert group Bgroup Bgroup Cgroup Bgroup Egroup Dgroup Dgroup Egroup Dgroup Cgroup Cgroup Cgroup Dgroup Agroup Cgroup Dgroup Bgroup Dgroup Bgroup Cgroup Egroup Cgroup Egroup Egroup Bgroup Cgroup Cgroup Bgroup Bgroup Cgroup Bgroup Bgroup Dgroup Bgroup Bgroup Cgroup Egroup Cgroup Cgroup Egroup Dgroup Cgroup Cgroup Cgroup Cgroup Egroup Dgroup Cgroup Dgroup Dgroup Bgroup Dgroup Cgroup Dgroup Cgroup Cgroup Cgroup Bgroup Bgroup Dgroup Cgroup Dgroup Agroup Cgroup Dgroup Egroup Agroup Cgroup Bgroup Agroup Dgroup Cgroup Cgroup Dgroup Cgroup Agroup Agroup Cgroup Cgroup Cgroup Cgroup Dgroup Agroup Dgroup Cgroup Agroup Dgroup Dgroup Bgroup Bgroup Cgroup Dgroup Cgroup Cgroup Cgroup Bgroup Dgroup Egroup Dgroup Cgroup Bgroup Dgroup Cgroup Cgroup Cgroup Egroup Bgroup Dgroup Bgroup Egroup Dgroup Dgroup Cgroup Cgroup Bgroup Cgroup Cgroup Egroup Cgroup Dgroup Bgroup Dgroup Bgroup Cgroup Bgroup Dgroup Bgroup Egroup Bgroup Agroup Cgroup Dgroup Cgroup Bgroup Cgroup Bgroup Cgroup Dgroup Bgroup Egroup Cgroup Dgroup Egroup Egroup Dgroup Egroup Bgroup Dgroup Bgroup Cgroup Cgroup Dgroup Agroup Cgroup Dgroup Bgroup Dgroup Egroup Cgroup Bgroup Dgroup Agroup Egroup Bgroup Agroup Dgroup Dgroup Cgroup Cgroup Bgroup Cgroup Bgroup Dgroup Cgroup Egroup Dgroup Egroup Egroup Dgroup Cgroup Agroup Dgroup Bgroup Agroup Dgroup Dgroup Dgroup Cgroup D to numeric

In [42]:
#filtering the data
df[df['math score']>80]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
34,male,group E,some college,standard,none,97.0,87.0,82.0
35,male,group E,associate's degree,standard,completed,81.0,81.0,79.0
...,...,...,...,...,...,...,...,...
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
981,male,group D,some high school,standard,none,81.0,78.0,78.0
987,male,group E,some high school,standard,completed,81.0,75.0,76.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0

In [43]:
df[df['math score']>85]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
16,male,group C,high school,standard,none,88.0,89.0,86.0
34,male,group E,some college,standard,none,97.0,87.0,82.0
53,male,group D,high school,standard,none,88.0,78.0,75.0
...,...,...,...,...,...,...,...,...
962,female,group E,associate's degree,standard,none,100.0,100.0,100.0
970,female,group D,bachelor's degree,standard,none,89.0,100.0,100.0
979,female,group C,associate's degree,standard,none,91.0,95.0,94.0
990,male,group E,high school,free/reduced,completed,86.0,81.0,75.0
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0

Printing rows and columns with loc and iloc
the main difference between loc and iloc is that loc uses label-based indexing, whereas iloc uses integer-based indexing. loc allows you to access data using labels or boolean indexing, while iloc enables you to access data using integer positions.

In [44]:
df.loc[60:80,['math score']] #in .loc 60 and 80 both will be considered

    math score
60   79.000000
61   39.000000
62   62.000000
63   69.000000
64   59.000000
65   67.000000
66   45.000000
67   60.000000
68   61.000000
69   39.000000
70   66.173428
71   63.000000
72   41.000000
73   61.000000
74   49.000000
75   44.000000
76   30.000000
77   66.173428
78   61.000000
79   62.000000
80   47.000000

In [45]:
df.loc[60:80,['math score','gender']]

    math score  gender
60   79.000000    male
61   39.000000    male
62   62.000000    male
63   69.000000  female
64   59.000000  female
65   67.000000    male
66   45.000000    male
67   60.000000  female
68   61.000000    male
69   39.000000  female
70   66.173428  female
71   63.000000    male
72   41.000000  female
73   61.000000    male
74   49.000000    male
75   44.000000    male
76   30.000000    male
77   66.173428    male
78   61.000000  female
79   62.000000  female
80   47.000000  female

In [46]:
df.iloc[60:80,[2,6,7]] #printing individual columns

   parental level of education  reading score  writing score
60           bachelor's degree      69.221774      72.000000
61            some high school      39.000000      34.000000
62          associate's degree      61.000000      55.000000
63          associate's degree      80.000000      71.000000
64            some high school      58.000000      59.000000
65            some high school      64.000000      61.000000
66            some high school      37.000000      37.000000
67                some college      72.000000      74.000000
68          associate's degree      58.000000      56.000000
69          associate's degree      64.000000      57.000000
70                some college      63.000000      73.000000
71                some college      55.000000      63.000000
72          associate's degree      51.000000      48.000000
73            some high school      57.000000      56.000000
74            some high school      49.000000      68.047571
75          associate's degree      41.000000      38.000000
76            some high school      26.000000      22.000000
77           bachelor's degree      78.000000      81.000000
78            some high school      74.000000      72.000000
79             master's degree      68.000000      68.000000

In [47]:
df.iloc[60:80,2:6] #printing range of columns

,parental level of education,lunch,test preparation course,math score
60,bachelor's degree,free/reduced,completed,79.000000
61,some high school,free/reduced,none,39.000000
62,associate's degree,free/reduced,none,62.000000
63,associate's degree,standard,none,69.000000
64,some high school,standard,none,59.000000
65,some high school,standard,none,67.000000
66,some high school,free/reduced,none,45.000000
67,some college,standard,none,60.000000
68,associate's degree,free/reduced,none,61.000000
69,associate's degree,standard,none,39.000000
70,some college,free/reduced,completed,66.173428
71,some college,standard,completed,63.000000
72,associate's degree,free/reduced,none,41.000000
73,some high school,free/reduced,none,61.000000
74,some high school,standard,none,49.000000
75,associate's degree,free/reduced,none,44.000000
76,some high school,standard,none,30.000000
77,bachelor's degree,standard,completed,66.173428
78,some high school,standard,completed,61.000000
79,master's degree,standard,none,62.000000

In [48]:
df['math score'].skew()  #prints the skewness value
#skewness- It provides information about the shape of the distribution. 
#the skewness refers to the asymmetry of the distribution of the data points along the horizontal axis.
#positive,negative and zero skewness
# Skewness = (3 * (mean - median)) / standard deviation  -> pearson coefficient of skewness

-0.2745522107687781

In [49]:
df['math score'].kurt() #kurtosis of the value
# Kurtosis-It provides information about the presence of extreme values or outliers in the data and the concentration
# of data around the mean.
#leptokurtic, mesokurtic, platykurtic

0.3342038434875585

In [50]:
df['math score'].var()  #variance
#variance-Variance is a statistical measure that quantifies the spread or dispersion of a set of data points. 
# It measures how far individual data points in a dataset are spread out from the mean or average value

225.76310692030773

Converting categorical data to quantitative data

In [51]:
encoder = LabelEncoder() 
df['gender']= encoder.fit_transform(df['gender'])
df['lunch']=encoder.fit_transform(df['lunch'])

In [53]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group B,bachelor's degree,1,none,72.0,72.0,74.0
1,0,group C,some college,1,completed,69.0,90.0,88.0
2,0,group B,master's degree,1,none,90.0,95.0,93.0
3,1,group A,associate's degree,0,none,47.0,57.0,44.0
4,1,group C,some college,1,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
995,0,group E,master's degree,1,completed,88.0,99.0,95.0
996,1,group C,high school,0,none,62.0,55.0,55.0
997,0,group C,high school,0,completed,59.0,71.0,65.0
998,0,group D,some college,1,completed,68.0,78.0,77.0
999,0,group D,some college,0,none,77.0,86.0,86.0